/*main {
  display: none;
}*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

table {
  font-size: 12px;
}

#map {
  min-height: 781px;
}

#listing {
  position: absolute;
  width: 300px;
  height: 90%;
  overflow: auto;
  right: 10px;
  top: 50px;
  bottom: 200px;
  cursor: pointer;
  border-radius: 4px;
}

.list-heading {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

#gathering-listing, #upcoming-gathering-listing, #my-gathering-listing {
  position: absolute;
  width: 300px;
  height: 300px;
  overflow-x: hidden;
  top: 50px;
  cursor: pointer;
  left: 10px;
  background: rgba(74, 33, 29, 0.6);
  visibility: hidden;
}

#upcoming-gathering-listing {
  top: 350px;
  height: 250px;
}

#my-gathering-listing {
  top: 600px;
  height: 150px;
}

#findrestaurants {
  position: absolute;
  text-align: left;
  font-size: 16px;
  padding: 4px;
  z-index: 5;
  color: #fff;
  margin-top: 15px;
  margin-left: 15px;
  /*background-color: #fff;*/
}
#locationField {
  position: absolute;
  width: 190px;
  height: 25px;
  left: 150px;
  top: 15px;
  z-index: 5;
  /*background-color: #fff;*/
}
#controls {
  position: absolute;
  left: 350px;
  width: 140px;
  top: 15px;
  z-index: 5;
  /*background-color: #fff;*/
}
#autocomplete {
  width: 100%;
}
#country {
  width: 100%;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}
.restaurantIcon {
  width: 24px;
  height: 24px;
}
#resultsTable {
  border-collapse: collapse;
  width: 240px;
}

#gathering-results-table, #upcoming-gathering-results-table,
#my-gathering-results-table {
  border-collapse: collapse;
  width: 260px;
  margin: 0 auto;
  overflow: auto;
  overflow-x: hidden;
}

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
  margin: auto, 0;
  width: 100%;
  max-width: 525px;
  min-height: 653px;
  position: relative;
  padding: 90px 70px 50px 70px;
  background: rgba(107, 47, 35, 0.9);
  display: none;
}

.create-form {
  position: absolute;
  margin-left: 150px;
  margin-top: 50px;
  z-index: 5;
  color: #fff;
}

.gathering-form {
  display: none;
  padding: 50px;
  text-align: center;
}

.gathering-form:after {
  display: block;
}
